{{!-- Side Bar --}}
<div class="col-lg-4 col-md-5 order-md-1 order-2 px-4">
  <div class="blog__sidebar ">
    {{!-- Search --}}
    <div class="blog__sidebar__search">
      <form method="GET" action="news/search">
        <input name="name" type="search" placeholder="Tìm kiếm...">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>

    {{!-- Gần đây --}}
    <div class="blog__sidebar__item">
      <h4>Tin Gần Đây</h4>
      <div class="blog__sidebar__recent">
        {{#each news}}
        <a href="/news/{{this.slug}}" class="blog__sidebar__recent__item">
          <div class="blog__sidebar__recent__item__pic">
            <img src="/public/img/{{this.image}}" class="img-fluid" alt="{{this.name}}">
          </div>
          <div class="blog__sidebar__recent__item__text">
            <h6>{{this.name}}</h6>
            <span>{{this.createdAt}}</span>
          </div>
        </a>
        {{/each }}
      </div>
    </div>



    {{!-- Danh Mục --}}
    <div class="blog__sidebar__item">
      <h4>Danh Mục</h4>
      <ul>
        {{#each category}}
        <li><a href="/news/category/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
      </ul>
    </div>

    {{!-- Thẻ --}}
    <div class="blog__sidebar__item">
      <h4>Tìm kiếm</h4>
      <div class="blog__sidebar__item__tags">
         {{#each category}}
          <a href="/news/category/{{this._id}}">{{this.name}}</a>
        {{/each}}
      </div>
    </div>

    {{!-- Mới --}}
    <div class="blog__sidebar__item">
      <h4>Tin mới</h4>
      <div class="blog__sidebar__new">
        {{#each news}}
        <a href="/news/{{this.slug}}" class="blog__sidebar__new__item">
          <div class="blog__sidebar__new__item__pic">
            <img src="/public/img/{{this.image}}" class="img-fluid" alt="{{this.name}}">
          </div>
          <div class="blog__sidebar__new__item__text">
            <h6>{{this.name}}</h6>
          </div>
        </a>
        {{/each }}
      </div>
    </div>
  </div>
</div>